{% extends 'base.html.twig' %}

{% block title %}Création catégorie{% endblock %}

{% block body %}
    <h1>Créer une catégorie</h1>

    {{ include('category/_form.html.twig') }}

    <button class="uk-button uk-button-default uk-button-small"><a href="{{ path('home') }}">Retour à l'accueil</a></button>
{% endblock %}
